header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.site-identity {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
    vertical-align: middle;
    /* Align the logo vertically with the navigation bar */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    background-color: #ddd;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    /* Remove the default bullet points */
    padding: 0;
    /* Remove any default padding */
    margin: 0;
    /* Remove any default margin */
}

nav li {
    display: inline-block;
    /* Display the list items horizontally */
}

nav a {
    display: block;
    padding: 10px 20px;
    /* Adjust the padding as per your needs */
    text-decoration: none;
    color: #e60d0d;
    /* Set the color of the navigation links */
}

nav a:hover {
    background-color: #f0cdcd;
    /* Set the background color on hover */
}


/* Styling the home page section */

#home {
    background-color: #f2f2f2;
    padding: 20px;
    h2 {
        margin-top: 0;
    }
    h3 {
        margin-top: 0;
    }
    align-items: center;
    p {
        font-size: 14px;
        /* Adjust the font size as needed */
    }
}


/* Float four columns side by side */

.column {
    float: left;
    width: 23%;
    padding: 0 5px;
}

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    color: #f20909;
}


/* Styling the about page section */

.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-image-container {
    /* Float the image container to the left */
    float: left;
    /* Optional: Set a width for the image container */
    width: 30%;
    /* Optional: Add some margin and padding to adjust spacing */
    margin-right: 20px;
    /* Adjust as needed */
    margin-bottom: 20px;
    /* Adjust as needed */
}

.about-text-container {
    /* Optional: Add some padding to create space between the image and text */
    padding-top: 10px;
    /* Adjust as needed */
    text-align: justify;
}

.about-text-container {
    /* Optional: Add some padding to create space between the image and text */
    padding-top: 10px;
    /* Adjust as needed */
    text-align: justify;
}

.about-h2 {
    margin-top: 0;
}

.about-h1 {
    text-align: left;
}

.about-p {
    font-size: 10px;
    /* Adjust the font size as needed */
    text-align: justify;
}

#services {
    background-color: #fbfffb;
    /* Set the background color for the services section */
    padding: 20px;
}

#portfolio {
    background-color: #f7f6f5;
    /* Set the background color for the contact section */
    padding: 20px;
}

#contact {
    background-color: #f7f6f5;
    /* Set the background color for the contact section */
    padding: 20px;
}


/* Styling the active navigation button */

#home-link {
    font-weight: bold;
}

.site-identity {
    float: left;
}

.site-identity img {
    max-width: 100px;
    float: left;
    margin: auto;
}

.logo {
    width: 100px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

h1 {
    margin: 0;
}

.main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.image-gallery {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

section {
    padding: 40px 0;
    /* Add vertical spacing between sections */
    border-top: 1px solid #ccc;
    /* Add a top border to each section */
}

section:first-child {
    border-top: none;
    /* Remove the top border from the first section */
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.whatsapp i {
    font-size: 24px;
    /* Adjust the font size of the WhatsApp icon */
    color: green;
    /* Adjust the color of the WhatsApp icon */
}

.cv-button {
    text-align: center;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

.cv-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.cv-button a:hover {
    background-color: #555;
}

body.dark-mode {
    background-color: #333;
    /* Styles for dark mode */
    color: #fff;
}


/* Styles for the toggle switch */

.mode-toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.mode-toggle label {
    margin-right: 5px;
    margin-top: 10px;
}

.mode-toggle input[type="checkbox"] {
    display: none;
}

.mode-toggle .slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    margin-top: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.mode-toggle .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    top: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.mode-toggle input:checked+.slider {
    background-color: #2196F3;
}

.mode-toggle input:checked+.slider:before {
    transform: translateX(20px);
}


/* Portfolio section styles */

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
}

form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
}

.container {
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}